body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-title {
  background-image: -webkit-gradient(
    linear,
    0% 0%,
    50% 100%,
    from(#ff416c),
    to(#ff4b2b)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  margin-top: 1rem;
  padding-left: 15%;
  background-color: #ff416c;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f2f8f8;
  font-family: "Cinzel", serif;
  font-size: 1rem;
}

.area {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 1200px;
  padding-bottom: 50px;
  background-color: #f2f8f8;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 1);
  box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 1);
  text-align: center;
}

.title-text {
  margin: 0 auto;
  vertical-align: middle;
  line-height: 51px;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .area {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
  }
  .title-text {
    font-size: 1.5rem;
  }
}

.horizontal-rule {
  border-top: 3px solid #ff416c;
}

.input-area {
  margin-top: 10%;
}

@media (max-width: 1000px) {
  .input-area {
    margin-top: 30%;
  }
}
